:root{
  --bg:#040D12;
  --col:#FAF0E6;
}
.dark-mode{
  --bg:#FAF0E6;
  --col:#040D12;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    background-color: var(--col);
    color: var(--bg);
  }
  .container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 80vh;
  }
  .header{
    grid-area: 1/1/2/-1;
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .heading-text{
    grid-area: 1/3/2/4;
    align-self: center;
    justify-self: center;
  }
  .switch{
    align-self: flex-start;
    justify-self: center;
    grid-area: -2/-2/-1/-1;
  }
  .form {
    position: relative;
    height: 30em;
    width: 30em;
    border: 0.1em solid var(--bg);
    border-radius: 2em;
    grid-area: 2/1/-1/-1;
  }
  #form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  #search {
    grid-area: 2/1/3/-1;
    margin: 2.5em 1.5em;
    background-color: transparent;
    border: 0.1em solid var(--bg);
    color: var(--bg);
    transition: all 0.3s ease-in-out;
    font-weight: 900;
  }
  #search:focus {
    color: var(--bg);
  }
  #search::placeholder {
color: var(--bg);  }
  #anime,
  #character {
    grid-area: 3/1/4/3;
    margin: 2.5em 1.5em;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    border: 0.1em solid var(--bg);
  }
  #anime:hover,
  #character:hover {
    border: 0.1em solid var(--bg);
    box-shadow: 5px 5px 10px var(--bg),
      5px -5px 10px var(--bg), -5px 5px 10px var(--bg),
      -5px -5px 10px var(--bg);
  }
  #character {
    grid-area: 3/3/4/-1;
  }
  .heading-text{
    font-family: "Noto Sans", sans-serif;
  }